body {
    height: 100vh;
}
.icons {
    font-size: 24px;
}
.offcanvas {
    --bs-offcanvas-width: 280px;
}
.resume-circle {
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    height: 16px;
    width: 16px;
}

